{% extends "site/base.html" %}
{% block content %}
  <div class="container">
    <h1> Post </h1>
    <!--
    uncover this to view json data
    <div>
        {{post}}
    </div>
    -->
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">{{post['username']}}
                <small>{{post['created_datetime']}}</small>
                <!-- if created/edited datetime are diff, show edited datetime -->
            </h4>
            {{post['post_content']}}
        </div>
    </div>


    
    <h3> Comments Section</h3>
    {% from "site/_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.comment) }}

      </dl>
      <button class="btn btn-default" type=submit >
          <span>Post Comment</span>
      </button>
    </form>
    {% for comment in comments %}
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">{{comment['username']}}
                <small>{{comment['created_datetime']}}</small>
                <!-- if created/edited datetime are diff, show edited datetime -->
            </h4>
            {{comment['comment']}}
        </div>
    </div>
  {% endfor%}

  </div>
{% endblock %}